<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Reborn ~ Installation</title>
    <style>
      .error {
        color: red;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to Project Reborn!</h1>
    <p>
      You can install your retro by login with the creditials printed in the
      terminal log
    </p>
    {{if .LoginError}}<p class="error">Invalid credentials</p>{{end}}
    <form method="post" action="/login">
      <input name="username" />
      <input name="password" />
      <button>Login</button>
    </form>
  </body>
</html>
