.card {
  flex: 1 1 auto;
  padding: 0.25rem;
}

.card__header {
  padding: 0.25rem 1rem;
  border-radius: 4px;
}

.card__header h2 {
  margin: 0;
  text-align: center;
}

.card__content {
  padding: 0.5rem 1rem;
}

.card--gray {
  background-color: var(--color-gray);
  color: var(--color-text-white);
  border: 1px solid var(--color-border-light);
  border-bottom-width: 3px;
  border-radius: 8px;
}

.card--gray .card__header {
  background-color: var(--color-gray-dark);
}

.card__header--image {
  padding: 0;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
}

.card__header--image img {
  display: block;
  object-fit: cover;
  object-position: top;
}
