.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 768px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: var(--color-surface);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  border-bottom-width: 3px;
  border-radius: 4px;
}

.main__header {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.main__logo a {
  color: #f5c518;
  text-shadow: 2px 2px 0 #b8860b;
  text-decoration: none;
}

.main__stats {
  color: var(--color-accent);
}

.main__stats strong {
  color: var(--color-text);
}

.main__content {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.5rem;
  align-items: start;
}

.registration {
  grid-column: 1;
  grid-row: 1 / span 3;
}

.login {
  box-sizing: border-box;
  grid-column: 2;
  max-width: 310px;
}

.banner {
  grid-column: 2;
}

.login__form {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  align-items: center;
  gap: 0.5rem;
}

.login__label {
  grid-column-start: 1;
  min-width: 4rem;
}

.login__input {
  box-sizing: border-box;
  grid-column-start: 2;
  width: 100%;
  padding: 0.125rem 0.25rem;
  border: 1px solid var(--color-gray-input);
}

.login__checkbox {
  grid-column-start: 2;
  grid-column-end: span 2;
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.login__link {
  grid-column-start: 2;
  grid-column-end: span 2;
  color: var(--color-text-light);
}

.login__link:hover {
  color: var(--color-text-white);
}

.login__link--bold {
  font-weight: bold;
}

.registration .card__header--image img {
  width: 100%;
  image-rendering: crisp-edges;
  height: 270px;
}

.registration__content {
  text-align: center;
  background-color: #e3e3db;
  border-radius: 0 0 4px 4px;
  border: 1px solid #cccccc;
  border-bottom-width: 3px;
}

.registration__btn {
  box-sizing: border-box;
  border: 2px solid #1f5700;
  padding: 0.5rem 4rem;
  transform: translateY(-50%);
  position: relative;
  top: -0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-text-white);
  background-color: #3ba800;
  border-radius: 4px;
  display: inline-block;
}

.registration__btn::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #93d10f;
  height: 4px;
}

.error {
  grid-column-start: 2;
}

.banner img {
  display: block;
  /* max-width: 310px; */
  border-radius: 4px;
  object-fit: cover;
}

.tag-cloud {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 0.25rem;
}

.tag-cloud__title {
  font-weight: bold;
  color: orange;
}

.tag-cloud__tag {
  color: var(--color-accent);
  font-size: 0.75rem;
}
