.paper {
  box-sizing: border-box;
  border-radius: var(--rounded-lg);
  padding: var(--s2) var(--s4);
}

.paper.paper--blue {
  background-color: #3399cc;
  color: var(--color-text-white);
}

.paper.paper--red {
  background-color: #e2001a;
  color: var(--color-text-white);
}
