.paper {
  box-sizing: border-box;
  border-radius: var(--rounded-lg);
  padding: var(--s2) var(--s4);
  background-color: var(--paper-color);
  color: var(--paper-color-inverted);
}

.paper.paper--blue {
  --paper-color: var(--color-blue-500);
  --paper-color-inverted: var(--color-white);
}

.paper.paper--red {
  --paper-color: var(--color-red-400);
  --paper-color-inverted: var(--color-white);
}

.paper.paper--gray {
  --paper-color: var(--color-gray-700);
  --paper-color-inverted: var(--color-white);
}

.paper.paper--brown {
  --paper-color: var(--color-brown-900);
  --paper-color-inverted: var(--color-white);
}

