.paper {
  box-sizing: border-box;
  border-radius: var(--rounded-lg);
  padding: var(--s2) var(--s4);
  background-color: var(--paper-color);
  color: var(--paper-color-inverted);
}

.paper.paper--blue {
  --paper-color: #3399cc;
  --paper-color-inverted: #fff;
}

.paper.paper--red {
  --paper-color: #e2001a;
  --paper-color-inverted: #fff;
}
