<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{.SiteName}}</title>

    <link rel="stylesheet" href="/static/styles/reset.css" />
    <link rel="stylesheet" href="/static/styles/commons.css" />
    <link rel="stylesheet" href="/static/styles/fonts.css" />
    <link rel="stylesheet" href="/static/styles/cards.css" />
    <link rel="stylesheet" href="/static/styles/buttons.css" />
    <link rel="stylesheet" href="/static/styles/index.css" />
  </head>
  <body>
    <div class="main">
      <header class="main__header">
        <h1 class="main__logo"><a href="/">{{if .SiteName}}{{.SiteName}}{{else}}Reborn{{end}}</a></h1>
        <span class="main__stats font-xs">
          <strong>{{.OnlineCount}}</strong> users online now
        </span>
        <img src="/static/images/{{if .ServerStatus}}{{.ServerStatus}}{{else}}offline{{end}}.gif" alt="Server Status" />
      </header>
      <div class="main__content">
        <div class="registration"></div>

        <section class="card card--gray login">
          <header class="card__header">
            <h2 class="font-lg">Sign in</h2>
          </header>

          <form class="card__content login__form" action="/login" method="post">
            <label class="login__label font-sm" for="login-username-input"
              >Username</label
            >
            <input
              id="login-username-input"
              class="login__input font-base"
              type="text"
              name="username"
            />

            <label class="login__label font-sm" for="login-username-password"
              >Password</label
            >
            <input
              id="login-username-password"
              class="login__input font-base"
              type="password"
              name="password"
            />

            <button class="btn btn--gray font-sm">Sign in</button>

            <label class="login__checkbox">
              <input type="checkbox" name="remember" />
              <span class="font-xs">Remember me</span>
            </label>

            <a class="login__link login__link--bold font-xs" href="/register"
              >Register for free</a
            >
            <a class="login__link font-xs" href="/forgot"
              >I forgot my password/username</a
            >
          </form>
        </section>

        <div class="banner"></div>
      </div>
      <div></div>
    </div>
  </body>
</html>
