<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{.SiteName}} ~ {{.Username}}</title>

    {{template "styles.partial.html"}}

    <link rel="stylesheet" href="/static/styles/atoms.css" />

    <link rel="stylesheet" href="/static/styles/layout.css" />

    <link rel="stylesheet" href="/static/styles/cards.css" />

    <link rel="stylesheet" href="/static/styles/cms/community.css" />
    <link rel="stylesheet" href="/static/styles/cms/info.css" />
  </head>
  <body>
    <header class="community__header">
      <div>
        <nav>
          <!-- <ul>
            <li>My Friends</li>
            <li>My Groups</li>
            <li>My Rooms</li>
          </ul>

          <ul>
            Sign Out
          </ul> -->
        </nav>
      </div>

      <nav class="community__nav">
        <ul>
          <li>
            <div class="community__nav-item community__nav-item--current">
              {{.Username}}
            </div>
          </li>
        </ul>
      </nav>
    </header>

    <nav class="community__subnav">
      <ul>
        <li>
          <span class="community__subnav-item community__subnav-item--current">
            Homepage
          </span>
        </li>
      </ul>
    </nav>

    <main class="layout layout--community community__content">
      <div class="layout__left">
        <section class="info">
          <header class="info__header">
            <div class="enter_hotel">
              <a href="#">Enter</a>
            </div>
          </header>
          <div class="info__content">
            <div></div>
            <div>
              <a href="#">Change looks &raquo;</a>
              <span>
                <a href="#">{{.Credits}}</a>
                credits
              </span>
              <a href="#">Join Club &raquo;</a>
            </div>
          </div>
          <footer class="info__footer">
            <p>Last signed in: {{.LastSignedIn}}</p>
          </footer>
        </section>

        <section class="card card--light-blue">
          <header class="card__header">
            <h2 class="card__title">My Messages</h2>
          </header>
          <div class="py-2">
            <div class="card__tabs">
              <div class="card__tab card__tab--active">Inbox</div>
              <div class="card__tab">Sent</div>
              <div class="card__tab">Trash</div>
            </div>
          </div>
          <div></div>
        </section>

        <section class="card card--light-orange">
          <header class="card__header card__header--tabbed">
            <h2 class="card__title">Holos</h2>
            <div class="card__tabs">
              <button class="card__tab card__tab--active">
                Invite Friends
              </button>
              <button class="card__tab">Search Holos</button>
            </div>
          </header>
        </section>
      </div>

      <div class="layout__right">
        <section class="card card--light-orange">
          <header class="card__header card__header--tabbed">
            <h2 class="card__title">Holos</h2>
            <div class="card__tabs">
              <button class="card__tab card__tab--active">
                Invite Friends
              </button>
              <button class="card__tab">Search Holos</button>
            </div>
          </header>
        </section>
      </div>
    </main>

    <footer></footer>
  </body>
</html>
